*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.container-fluid .nav-link{
    color: black;
}
.home{
    height: 100vh;
    width: 100%;
}
.mySlides {display: none}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.mySlides img{
    width: 100%;
    height: 88vh;
}
.design{
    height: 100vh;
    width: 90%;
    
}
.text1{
    text-align: center;
    font-size: 35px;
}
.text1 p{
    font-size: 15px;
    width: 50%;
    margin-left: 400px;
    
}

.progress{
    width: 550px;
    height: 10px;
  margin-left: 30px;
}
.statistik{
    margin-left: 70px;
    padding-top: 100px;
}
.text2{
    padding-top:100px ;
    color: white;
    margin-left: 80px;
}
.text2 h2{
font-size: 55px;
}
.text2 p{
    font-size: 20px;
}
.taste{
    height: 130vh;
    width: 100%;
}
.text4{
    padding-top: 70px;
    text-align: center;
    font-size: 35px;
}
.text4 p{
    font-size: 15px;
    width: 50%;
    margin-left: 400px;
    
}